<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacts</title>
    <link rel="stylesheet" href="/media/projects/style_contact.css"> <!-- Подключение стилей, если есть -->
</head>
<body>
    <header>
            <nav>
                <ul>
                    <li><a href="/">Main</a></li>
                    <li><a href="/about/">CV / About my experience</a></li>
                    <li><a href="/projects/">My projects</a></li>
                </ul>
            </nav>
    </header>

    <main>
        <section>
            <div class="contact-info">
                <div class="profile-photo flex-shrink-0 mb-6 md:mb-0">
                    <img src="{% static 'app/my_photo.png' %}" alt="Profile Photo" class="w-32 h-32 rounded-full object-cover">
                </div>

                <div class="description">
                    <p>{{ contact_info.short_description }}</p>
                </div>

                <div class="social-links">
                    {% for social_link in contact_info.social_links.all %}
                        <a href="{{ social_link.url }}" target="_blank" class="social-link">
                            {% if social_link.icon %}
                                <img src="{{ social_link.icon.url }}" alt="{{ social_link.platform_name }} Icon">
                            {% else %}
                                {{ social_link.platform_name }}
                            {% endif %}
                        </a>
                    {% endfor %}
                </div>
            </div>
        </section>
    </main>
    <footer>
        <p>&copy; 2025 Lipatov Danila's Portfolio. All rights reserved.</p>
    </footer>
</body>
</html>